footer#colophon.site-footer(role='contentinfo')
  .footer-wrapper.container
    .row
      .sidebar.footer-sidebar.clearfix
        .col-lg-5.col-sm-5.col-md-5.widget-1.footer-widget.first.footer-widget
          
        .col-lg-2.col-sm-2.col-md-2.widget-1.footer-widget.last.footer-widget
          #get_touch.widget.widget_get_touch
            h3.widget-title &nbsp; &nbsp; Social Media
            ul.footer-tweet
              li.facebook
                a(href='http://www.facebook.com/loganwlvox')
                  i.fa.fa-facebook
              li.google-plus
                a(href='http://www.plus.google.com/+LoganRichardson87')
                  i.fa.fa-google-plus
              li.twitter
                a(href='http://www.twitter.com/GLoganDR')
                  i.fa.fa-twitter
              li.github
                a(href='http://www.github.com/GLoganDR')
                  i.fa.fa-github
        .col-lg-5.col-sm-5.col-md-5.widget-1.footer-widget.footer-widget
