doctype html
html(ng-app='logan' lang='en-US')
head
    meta(charset='UTF-8')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1')
    title Logan Richardson
    //if lt IE 7 
    //if IE 7 
    //if IE 8 
    //if IE 9 
    link(rel='shortcut icon', href='/favicon.ico', title='Favicon')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='assets/css/layerslider.css')
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='assets/css/layout.css')
    link(rel='stylesheet', href='bower_components//fontawesome/css/font-awesome.css')
    link(rel='stylesheet', href='assets/css/magnific-popup.css')
    //pe icon 7 filled
    link(rel='stylesheet', href='assets/css/pe-icon-7-stroke.css')
    link(rel='stylesheet', href='assets/css/pe-icon-7-filled.css')
    //bootstrap 
    link(rel='stylesheet', href='assets/css/grid.css')
    link(rel='stylesheet', href='assets/css/responsive.css')
    //flexslider 
    link(rel='stylesheet', href='assets/css/flexslider.css')
    //anamations effect
    link(rel='stylesheet', href='assets/css/animations.min.css')
    //Portfolio style 
    link(rel='stylesheet', href='assets/css/style-portfolio.css')
    //Browser Specical File
    //if IE 8
      link(href='assets/css/ie8.css', rel='stylesheet', type='text/css')
    //if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
    link(href='assets/js/fancybox/jquery.fancybox.css', rel='stylesheet')
  body
    #page.hfeed.site
      header#header.site-header(role='banner')
        #frr-top-bar.top-bar-wrap
          .container
            .left-widget-wrap.left
              .phone.left
                i.fa.fa-envelope &nbsp; 
                a(href='mailto:g.logan.richardson@gmail.com', style='color:#fff') g.logan.richardson@gmail.com
            .right-widget-wrap.right
              .top-social
                ul#social-area-top
                  li.twitter
                    a(href='http://www.twitter.com/GLoganDR')
                      i.fa.fa-twitter
                  li.facebook
                    a(href='http://www.facebook.com/loganwlvox')
                      i.fa.fa-facebook
                  li.google-plus
                    a(href='http://www.plus.google.com/+LoganRichardson87')
                      i.fa.fa-google-plus
                  li.github
                    a(href='http://www.github.com/GLoganDR')
                      i.fa.fa-github
                  li.linkedin
                    a(href='http://www.linkedin.com/pub/logan-richardson/38/906/4ab')
                      i.fa.fa-linkedin
        #frr-top-nav-wrapper
          .container
            .row
              #logo.col-lg-4.col-md-12.col-sm-12
              nav(role='navigation')
                #top-nav.col-lg-8.col-md-12.col-sm-12
                  .top-nav-wrap.right.navbg
                    a#mobile-menu-trigger.mobile-menu-closed(href='#')
                      i.fa.fa-bars
                    ul#menu.sf-menu
                      li.cl-effect-4
                        a(href='/#/')
                          span Home
                      li.cl-effect-4
                        a(href='/#/about')
                          span About
                      li.cl-effect-4
                        a(href='/#/portfolio')
                          span Portfolio
                      li.cl-effect-4
                        a(href='/#/contact')
                          span Contact
      br
      #ng-content(ng-view)
      footer#colophon.site-footer(role='contentinfo')
        .footer-wrapper.container
          .row
            .sidebar.footer-sidebar.clearfix
              .col-lg-4.col-sm-4.col-md-4.widget-1.footer-widget.first.footer-widget     
              .col-lg-4.col-sm-4.col-md-4.widget-1.footer-widget.last.footer-widget
                #get_touch.widget.widget_get_touch
                  h3.widget-title Social Media
                  ul.footer-tweet
                    li.facebook
                      a(href='http://www.facebook.com/loganwlvox')
                        i.fa.fa-facebook
                    li.google-plus
                      a(href='http://www.plus.google.com/+LoganRichardson87')
                        i.fa.fa-google-plus
                    li.twitter
                      a(href='http://www.twitter.com/GLoganDR')
                        i.fa.fa-lg.fa-twitter
                    li.github
                      a(href='http://www.github.com/GLoganDR')
                        i.fa.fa-github
                    li.linkedin
                      a(href='http://www.linkedin.com/pub/logan-richardson/38/906/4ab')
                        i.fa.fa-linkedin
              .col-lg-4.col-sm-4.col-md-4.widget-1.footer-widget.footer-widget

    //PROJECT DEPENDENCIES FOR PORTFOLIO
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='index.js')
    script(src='home/home.js')
    script(src='about/about.js')
    script(src='contact/contact.js')
    script(src='portfolio/portfolio.js')

    script(src='assets/js/fancybox/jquery.fancybox.js')
    script(src='assets/js/jquery.modernizr.js')
    script(src='assets/js/ddsmoothmenu.js')
    script(src='assets/js/jquery.isotope.min.js')
    script(type='text/javascript').
      $(function() {
      //    fancybox
      jQuery('.fancybox').fancybox();
      });
    script.
      /* <![CDATA[ */
      var FS = {"animation":"slide","pauseOnHover":"true","controlNav":"true","directionNav":"false","animationDuration":"500","slideshowSpeed":"5000","pauseOnAction":"false"};
      /* ]]> */
    //Portfolio 
    script(type='text/javascript', src='assets/js/jquery.flexverticalcenter.js')
    script(type='text/javascript', src='assets/js/jquery.stellar.min.js')
    script(type='text/javascript', src='assets/js/jquery.mixitup.min.js')
    script(type='text/javascript', src='assets/js/app.js')
    //Flexslider 
    script(src='assets/js/jquery.flexslider.js')
    script(src='assets/js/jquery.carouFredSel-6.2.1-min.js')
    script(src='assets/js/jquery.countTo.js')
    //aminations
    script(src='assets/js/viewportchecker.js')
    script(src='assets/js/animations.min.js')
    script(src='assets/js/appear.min.js')
    //countTo 
    script(src='assets/js/jquery.countTo.js')
    //menu 
    script(src='assets/js/hoverIntent.js')
    script(src='assets/js/superfish.js')
    //HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    //if lt IE 9
      script(src='assets/js/html5.js')
      script(src='assets/js/respond.min.js')
    //THIS WAS MOVED INTO HOME.JADE
    script(src='assets/js/custom.js')
