#portfoliowrap
  .container
    .row
      .col-xs-5
      .col-xs-2
        h1.section-title PROJECTS
        .heading-border
      .col-xs-5
    .row
      .col-lg-4.col-md-4.col-sm-6.col-xs-12.desc
        .project-wrapper
          .project
            h2.port-heading-tag Helloween
              .photo-wrapper
                .photo
                  a.fancybox(href='client/assets/images/helloween.jpg')
                    img.img-responsive(src='client/assets/images/helloween.jpg', alt='')
            .port-title
              h3 Desktop Game
            .entry-excerpt 
              h4 Dodge the obstacles and enemies, shoot pumpkins, and defeat Oogie Boogie as Jack Skellington! Built with Phaser.io.
            .port-title
              h5 Team: Logan Richardson, David Boling, Juan Job, and Matt Keef.
            .deployed
              a(href='http://glogandr.github.io/helloween/') Play &nbsp;
                i.fa.fa-lg.fa-play &nbsp; & &nbsp;
              a(href='http://github.com/GLoganDR/helloween') Github &nbsp;
                i.fa.fa-lg.fa-github
      // col-lg-4
      .col-lg-4.col-md-4.col-sm-6.col-xs-12.desc
        .project-wrapper
          .project
            h3.port-heading-tag Roundup
              .photo-wrapper
                .photo
                  a.fancybox(href='client/assets/images/roundup.jpg')
                    img.img-responsive(src='client/assets/images/roundup.jpg', alt='')
            .port-title
              h3 Desktop Game
            .entry-excerpt
              h4 Catch the Stars and Diamonds with Stardude! Built using Phaser.io.
            .port-title
              h5 Team: Logan Richardson, Mikey Badr, and Dennis Stanley
            .deployed
              a(href='http://glogandr.github.io/roundup-1/') Play &nbsp;
                i.fa.fa-lg.fa-play &nbsp; & &nbsp;
              a(href='http://github.com/GLoganDR/roundup-1') Github &nbsp;
                i.fa.fa-lg.fa-github
      // col-lg-4
      .col-lg-4.col-md-4.col-sm-6.col-xs-12.desc
        .project-wrapper
          .project
            h3.port-heading-tag SpamTrek
            //.photo-wrapper
            //  .photo
            //    a(href='assets/img/portfolio/spamtrek.jpg')
            //      img.img-responsive(src='assets/img/portfolio/spamtrek.jpg', alt='')
            .port-title
              h3 Mobile Game
            .entry-excerpt
              h4 Collect the spam mail and get it to the inbox! Built using Ionic, HTML5 Canvas, XCode, and Android SDK.
            .port-title
              h5 Team: Logan Richardson, Nathan Vasquez, Joy Pratt, and Daniel Roden
            .deployed
              a(href='http://play.google.com/store/apps') Google Play &nbsp;
                i.fa.fa-lg.fa-android &nbsp; & &nbsp;
              a(href='http://github.com/GLoganDR/spam-trek') Github &nbsp;
                i.fa.fa-lg.fa-github
    .row.mt
      .col-lg-4.col-md-4.col-sm-6.col-xs-12.desc
        .project-wrapper
          .project(style='padding-top:75px;')
            h3.port-heading-tag CaddyHack
              .photo-wrapper
                .photo
                  a.fancybox(href='client/assets/images/caddyhack.jpg')
                    img.img-responsive(src='client/assets/images/caddyhack.jpg', alt='')
            .port-title
              h3 Mobile Game
            .entry-excerpt
              h4 A simple tilt game to get the ball in the hole. Built using Ionic, HTML5 Canvas, and Xcode/Android SDK.
            .port-title
              h5 Team: Liza Carter, Sarah Pearson, and Logan Richardson
            .deployed
              a(href='http://play.google.com/store/apps/details?id=com.ionicframework.llsgolf414388&hl=en') Google Play &nbsp;
                i.fa.fa-lg.fa-android &nbsp; & &nbsp;
              a(href='http://github.com/GLoganDR/lls-golf') Github &nbsp;
                i.fa.fa-lg.fa-github
      .col-lg-4.col-md-4.col-sm-6.col-xs-12.desc
        .project-wrapper
          .project(style='padding-top:75px;')
            h3.port-heading-tag Furry Farm
              .photo-wrapper
                .photo
                  a.fancybox(href='https://raw.githubusercontent.com/GLoganDR/furry-farm/master/docs/screenshots/sn2.png')
                    img.img-responsive(src='https://raw.githubusercontent.com/GLoganDR/furry-farm/master/docs/screenshots/sn2.png', alt='')
            .port-title
              h3 Web Application
            .entry-excerpt
              h4 Built using MongoDB, jQuery, Express, and NodeJS.
            .port-title
              h5 Team: Logan Richardson, David Boling, JoAnn Brooks, and Jessica Raines
            .deployed
              a(href='http://furryfarm.loganrichardson.ninja') App &nbsp;
                i.fa.fa-lg.fa-laptop &nbsp; & &nbsp;
              a(href='http://github.com/GLoganDR/furry-farm') Github &nbsp;
                i.fa.fa-lg.fa-github
      .col-lg-4.col-md-4.col-sm-6.col-xs-12.desc
        .project-wrapper
          .project(style='padding-top:75px;')
            h3.port-heading-tag CraigsBay
            //.photo-wrapper
            //  .photo
            //    a(href='assets/img/portfolio/craigsbay.jpg')
            //      img.img-responsive(src='assets/img/portfolio/craigsbay.jpg', alt='')
            .port-title
              h3 Web Application
            .entry-excerpt
              h4 A trading site using items as currency. Built using MongoDB, Express, NodeJS, jQuery and the Google Maps API.
            .port-title
              h5 Team: Logan Richardson, Zoe Ames, Mikey Badr, and JoAnn Brooks
            .deployed
              a(href='http://craigsbay.loganrichardson.ninja') App &nbsp;
                i.fa.fa-lg.fa-laptop &nbsp; & &nbsp;
              a(href='http://github.com/GLoganDR/craigs-bay') Github &nbsp;
                i.fa.fa-lg.fa-github
    .row.mt
      .col-xs-1
      .col-lg-4.col-md-4.col-sm-6.col-xs-12.desc
        .project-wrapper
          .project(style='padding-top:75px;')
            h3.port-heading-tag BandMade
              .photo-wrapper
                .photo
                  a.fancybox(href='client/assets/images/bandmade.jpg')
                    img.img-responsive(src='client/assets/images/bandmade.jpg', alt='')
            .port-title
              h3 Web Application Capstone
            .entry-excerpt
              h4 A musician/band/producer website where you can build your next music project!!! The back-end is built using the MEAN Stack and mailgun.
            .port-title
              h5 Developed By: Logan Richardson
            .deployed
              a(href='http://bandmade.loganrichardson.ninja') App &nbsp;
                i.fa.fa-lg.fa-laptop &nbsp; & &nbsp;
              a(href='http://github.com/GLoganDR/bandmade') Github &nbsp;
                i.fa.fa-lg.fa-github
      .col-xs-2
      .col-lg-4.col-md-4.col-sm-6.col-xs-12.desc
        .project-wrapper
          .project(style='padding-top:75px;')
            h3.port-heading-tag Nashville Investor
              .photo-wrapper
                .photo
                  a.fancybox(href='client/assets/images/nashinvest.jpg')
                    img.img-responsive(src='client/assets/images/nashinvest.jpg', alt='')
            .port-title
              h3 Web Application Group Capstone
            .entry-excerpt
              h4 Find information on new developments near your next property investment, learn about zoning meetings, and learn about commercial interests . Built using AngularJS, MEAN Stack, Zillow API, and Google Maps API.
            .port-title
              h5 Team: Logan Richardson, Adam Barnhard, Melanie Fryman, Dennis Stanley, and David Boling
            .deployed
              a(href='http://nashville-investor.loganrichardson.ninja') App &nbsp;
                i.fa.fa-lg.fa-laptop &nbsp; & &nbsp;
              a(href='http://github.com/GLoganDR/nashville-investor') Github &nbsp;
                i.fa.fa-lg.fa-github
      .col-xs-1            
br
br
br
br