#contactWrap
  .container
    .row
      .col-xs-4
      .col-xs-4
        h1#contactH1.section-title Get In Touch
        .heading-border
      .col-xs-4
#contact-content-wrap.row
  #c.col-lg-4.col-md-4.col-sm-4
  #contact-info.col-lg-4.col-md-4.col-sm-4
    #contact-info-wrap
      p Phone: (615) 818-9354
      p Location: Nashville, TN 37217
      p
        | Email:
        a(href='mailto:g.logan.richardson@gmail.com') g.logan.richardson@gmail.com
  #c.col-lg-4.col-md-4.col-sm-4
