.content-wrapper
  #content.site-content
    section#slide-show
      #frr-slider.wrapper-coca-slide.container-fluid
        .frr-slider-outer-wrapper.row
          .main_slider
            #layerslider
              //layer slider starts
              .ls-layer(style='slidedirection: top; slidedelay: 6000; durationin: 1500; durationout: 1500; delayout: 500;')
                img.ls-bg(src='assets/images/slide_01.jpg', alt='')
                h1.ls-s3.ls_large_text_01(style='position: absolute; top: 100px; left: 200px; slidedirection: top; slideoutdirection: top; durationin: 3000; durationout: 750; easingin: easeInOutQuint; easingout: easeInBack; delayin: 1000;')
                  | WELCOME TO
                  br
                  | Logan Richardson's Portfolio
                h4.ls-s3.l1-s1.ls_large_text_02(style='position: absolute; top: 210px; left: 200px; slidedirection: bottom; slideoutdirection: bottom; durationin: 3000; durationout: 750; easingin: easeInOutQuint; easingout: easeInBack; delayin: 1000;') I'm For Hire!!! (I'm Also for Being Hired...)
                a.button.huge.color.round.ls-s8(href='/#/about', style='position: absolute; top: 265px; left: 200px; slidedirection: bottom; slideoutdirection: bottom; durationin: 3000; durationout: 750; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 1100;') About Me
              .ls-layer.center(style='slidedirection: bottom; slideoutdirection: left; slidedelay: 6000; durationin: 1500; durationout: 1500; delayout: 500;')
                img.ls-bg(src='assets/images/slide_02.jpg', alt='')
                h1.ls-s3.ls_large_text_01(style='position: absolute; top: 217px; left: 400px; slidedirection: top; slideoutdirection: top; durationin: 3000; durationout: 750; easingin: easeInOutQuint; easingout: easeInBack; delayin: 600;') I am a fun and driven person, 
                h4.ls-s3.l1-s1.ls_large_text_02(style='position: absolute; top: 296px; left: 400px; slidedirection: bottom; slideoutdirection: bottom; durationin: 3000; durationout: 750; easingin: easeInOutQuint; easingout: easeInBack; delayin: 700;') And I hope to bring my enthusiasm to a great company.
                .ls-s3.center-button(style='position: absolute; top: 381px; left: 20px; slidedirection: bottom; slideoutdirection: bottom; durationin: 3000; durationout: 750; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 1100;')
                  a.button.huge.color.round.ls-s18(href='/#/portfolio') My Portfolio
              .ls-layer(style='slidedirection: right; slidedelay: 6000; durationin: 1500; durationout: 1500;')
                img.ls-bg(src='assets/images/slide_03.jpg', alt='')
                h1.ls-s3.ls_large_text_01(style='position: absolute; font-family: Arial; top: 75px; left: 100px; slidedirection: right; slideoutdirection: left; durationin: 3000; durationout: 750; easingin: easeInOutQuint; easingout: easeInBack; delayin: 400;')
                  | My goal is to
                  br
                  | Create amazing applications
                  br
                  | With a company I enjoy
                h4.ls-s3.l1-s1.ls_large_text_02(style='position: absolute; top: 235px; left: 100px; border-color: #fff; slidedirection: bottom; slideoutdirection: left; durationin: 3000; durationout: 750; easingin: easeInOutQuint; easingout: easeInBack; delayin: 500;') Click to see more of my work!
                a.button.huge.color.round.ls-s18(href='http://github.com/GLoganDR', style='position: absolute; top: 290px; left: 100px; slidedirection: bottom; slideoutdirection: bottom; durationin: 3000; durationout: 750; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0;') Github
            //layer slider ends
      // END #frr-slider 
    section#frr-our-services.white
      .top-intro.hammer
        h4.section-title My Skillset
        p.section-intro
          | My skillset traverses the MEAN Stack with JavaScript.
          br
          | Read a more comprehensive list below.
      #frr-our-services.container
        .row
          .col-lg-3.col-md-6.col-sm-12.frr_fade.float
            article#post-68.post.type-post
              .featured-image.ico-type
                span.pe-7s-monitor
              header.entry-header
                h3.entry-title
                  a(rel='bookmark', href='/#/portfolio') Web App Development
              .entry-excerpt
                | I use JavaScript, the MEAN Stack (MongoDb Express Angular Node), and test-driven-development (using Mocha/Chai, Coveralls, and TravisCI) to build web applications. I also use Amazon Web Services, Heroku, and Github Pages to deploy the sites. I'm currently learning Python, Hapi.js, PostgreSQL, Mongoose, and Sequelize.
          .col-lg-3.col-md-6.col-sm-12.frr_fade.float
            article#post-69.post.type-post
              .featured-image.ico-type
                span.pe-7s-phone
              header.entry-header
                h3.entry-title
                  a(rel='bookmark', href='/#/portfolio') Phone App Development
              .entry-excerpt
                | I have experience building iOS/Android apps using JavaScript, Ionic, Cordova, and Socket.io.
          .col-lg-3.col-md-6.col-sm-12.frr_fade.float
            article#post-70.post.type-post
              .featured-image.ico-type
                span.pe-7s-monitor & 
                span.pe-7s-phone
              header.entry-header
                h3.entry-title
                  a(rel='bookmark', href='/#/portfolio') Game Development
              .entry-excerpt
                | I have built, helped build, and am continuing to build games using Phaser.io, Android, iOS, Canvas, JavaScript, Ionic, XCode, Cordova, and Socket.io.
          .col-lg-3.col-md-6.col-sm-12.frr_fade.float
            article#post-71.post.type-post
              .featured-image.ico-type
                span.pe-7s-pen
              header.entry-header
                h3.entry-title
                  a(rel='bookmark', href='/#/portfolio') Website Design
              .entry-excerpt
                | I use JavaScript, LESS, CSS, SASS, HTML5, Bootstrap, Foundation, Templates, and JADE for Front-End Development. I use various text editors including Sublime Text 2 and 3, Webstorm, Pycharm, Atom, and iTerm using VIM.
    section#coca-notebook.bortb
      #frr-screen-wrap.container
        .row
          .col-lg-1
          #screen-images.col-lg-5.col-md-12.col-sm-12.left-effect
            img(alt='notebook', title='Notebook', src='assets/images/team_01.jpg')
          #screen-content.col-lg-5.col-md-12.col-sm-12.right-effect
            header#post-85.entry-header
              h1.entry-title
                |Let's get to work!
              br
              a.frr-button-red(href='/#/contact') Contact Me
          .col-lg-1    
    //End content-wrapper 

    ////Included LayerSlider 
    script(src='assets/js/jquery-easing-1.3.js')
    script(src='assets/js/greensock.js')
    script(src='assets/js/layerslider.kreaturamedia.jquery.js')
    script(src='assets/js/layerslider-animate.js')
    script(src='assets/js/shit.js')
