#frr-the-team.white
  .top-intro.users
    h4.section-title About Me
    p.section-intro
      | I am a full-stack Developer from Illinois currently residing in Nashville, TN
      br
      | I am a student of Cohort 6 at Nashville Software School. I am fully interested in developing my skills and furthering my ability with a great company.
  #frr-the-team-wrap.container
    .row
      .col-lg-5.col-md-6.col-sm-12.frr_fade
      .col-lg-2.col-md-6.col-sm-12.frr_fade
        article#post-72.post.type-post
          .featured-image
            a(href='http://www.linkedin.com/pub/logan-richardson/38/906/4ab')
              img.img-circle.frr-team-img(alt='01 our team', src='assets/images/team_01.jpg')
          header.entry-header
            h2.entry-title
              | Logan Richardson
          .entry-excerpt
            | iOS, Android, Game and Web Developer
      .col-lg-5.col-md-6.col-sm-12.frr_fade
section#frr-facts.bortb
  #frr-facts-wrap.container
    .row
      #about-sidebar.col-lg-1.col-md-1.col-sm-12.left-effect.left
      #about-us-content.col-lg-7.col-md-7.col-sm-12.left-effect
        .frr-heading
          h3.frr-heading-tag My Goals
          .heading-border
            .heading-border-inner-border
        p.first-content
          | I would like to secure a great position with a company where I can be proud of my work. Ideally, I would be working with the MEAN stack and JavaScript, but I would be willing to learn other languges as necessary, of course. I want to get a good front-end or back-end job as a junior developer, I like both equally and can see myself furthering my ability on either end. Making games and mobile apps would also be very fun. I also hope to create my own website someday.
        h3.about-us-title Education
        p
          | I was a journalism major and creative writing/French minor at EIU in Charleston, IL. I attended Nashville Software School in Nashville, TN to learn software development via their 6-month bootcamp.
         h3.about-us-title Brief Background
        p
          | I was born and raised in Illinois in the middle of the state surrounded by farmland and a mid-sized forest. I didn't get my first computer until the age of 14 in 2001. I quickly learned how to take care of software/hardware issues, and I became more and more "techy" as time went on. My family wanted me to go into Development then, but I was too nervous to do it. For 6 years, I was a vocalist for a couple of touring acts. I decided to hang up the mic for a career recently. I took a year of C++ in computer sciences class in high school, and my interest was piqued then. I recently decided to follow through with Development because I wanted to feel like I was proud of my work. I love the feeling of seeing my code come to life and watching something build on itself.
        h3.about-us-title My Blog
        p
          a(href='http://medium.com/@loganrichardson').fa.fa-rocket &nbsp; Medium.com
      #about-sidebar.col-lg-3.col-md-3.col-sm-12.right-effect.right
    //
       End content-wrapper 
